<?xml version="1.0" encoding="UTF-8"?>
<Configuration scan="true">
	<property resource="config.properties" />
	<appender name="kibanaLogger-console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<provider
					class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
				<timestamp />
				<pattern>
					<pattern>
						{
						"level": "%level",
						"conversationId":"%X{conversationId}",
						"message":"%message",
						"logger":"%logger",
						"thread":"%thread",
						"exception":"%ex"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>
	<appender name="kibanaLogger-file" class="ch.qos.logback.core.FileAppender">
		<file>${MY_HOME}/${LOG_FILE}.log</file>
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<provider
					class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
				<timestamp />
				<pattern>
					<pattern>
						{
						"level": "%level",
						"conversationId":"%X{conversationId}",
						"message":"%message",
						"logger":"%logger",
						"thread":"%thread",
						"exception":"%ex"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="kibanaLogger-console" />
		<appender-ref ref="kibanaLogger-file" />
	</root>
</Configuration>