<?xml version="1.0" encoding="UTF-8"?>
<Configuration scan="true">

	<!-- System properties -->
	<property resource="config.properties" />
	
	<appender name="commonLogger-console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<provider
					class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
				<timestamp />
				<pattern>
					<pattern>
						{
						"level": "%level",
						"conversationId":"%X{conversationId}",
						"message":"%X{shortMessage}",
						"messageDescription":"%message",
						"logger":"%logger",
						"thread":"%thread",
						"exception":"%ex"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>

	<appender name="commonLogger-file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${MY_HOME}/${LOG_FILE}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${MY_HOME}/${LOG_FILE}_%d{yyyy-MM-dd HH-mm}__%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>1KB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<provider
					class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
				<timestamp />
				<pattern>
					<pattern>
						{
						"level": "%level",
						"conversationId":"%X{conversationId}",
						"message":"%X{shortMessage}",
						"messageDescription":"%message",
						"logger":"%logger",
						"thread":"%thread",
						"exception":"%ex"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="commonLogger-console" />
		<appender-ref ref="commonLogger-file" />
	</root>
</Configuration>